@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*{
  font-family: Signika Negative, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-track{
  background-color: #fff;
  width: 0.5vw;
}

*::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1vw;
}

.horizontalScroll{
  display: grid;
  grid-auto-flow: column;
  width: 980px;
  height: 400px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 1vw;
  gap: 1vw;
  align-items: center;
  cursor: pointer;
}
.horizontalScroll::-webkit-scrollbar, .horizontalScroll::-webkit-scrollbar-track {
  height: 7px;
}

/* .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper .css-6hp17o-MuiList-root-MuiMenu-list {
    height: 150px;
} */

