@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*{
  font-family: Signika Negative, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-track{
  background-color: #fff;
  width: 0.5vw;
}

*::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1vw;
}

.horizontalScroll{
  display: grid;
  grid-auto-flow: column;
  width: 980px;
  height: 400px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 1vw;
  gap: 1vw;
  align-items: center;
  cursor: pointer;
}
.horizontalScroll::-webkit-scrollbar, .horizontalScroll::-webkit-scrollbar-track {
  height: 7px;
}

/* .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper .css-6hp17o-MuiList-root-MuiMenu-list {
    height: 150px;
} */

.loader {
  position: relative;
  width: 110px;
  height: 30px;
  background: #464F51;
  border-radius: 100px;
}

.loader::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: #464F51;
  border-radius: 50%;
  box-shadow: 40px 0 0 20px #464F51;
}

.snow {
  position: relative;
  display: flex;
  z-index: 1;
}

.snow span {
  position: relative;
  width: 3px;
  height: 3px;
  background: #464F51;
  margin: 0 2px;
  border-radius: 50%;
  animation: snowing 5s linear infinite;
  animation-duration: calc(15s / var(--i));
  transform-origin: bottom;
}

.loaders {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  gap: 10px;
}

.iconLoader {
  height: 2rem;
  width: 2rem;
  animation: spin 1s linear infinite;
  stroke: rgba(107, 114, 128, 1);
}

.loading-text-loader {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  color: rgba(107, 114, 128, 1);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes snowing {
  0% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(100px) scale(2);
  }

  100% {
    transform: translateY(175px) scale(0.5);
  }
}